/* 勤怠詳細画面（一般ユーザー） */

.attendance-show {
    position: relative;
    width: 1512px;
    height: 982px;
    background: #F0EFF2;
}

/* 勤怠詳細 */

.attendance-show__title {
    position: absolute;
    width: 120px;
    height: 36px;
    left: 335px;
    top: 173px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

/* Line 3 */

.attendance-show__line {
    position: absolute;
    width: 40px;
    height: 0px;
    left: 314px;
    top: 173px;
    border: 8px solid #000000;
    transform: rotate(-90deg);
}

/* Rectangle 25 */

.attendance-show__container {
    position: absolute;
    width: 900px;
    height: 555px;
    left: 306px;
    top: 264px;
    background: #FFFFFF;
    border-radius: 10px;
}

/* 行の基本スタイル */

.attendance-show__row {
    position: relative;
}

/* 名前行 */

.attendance-show__row:nth-of-type(1) {
    position: absolute;
    width: 365px;
    height: 19px;
    left: 64px;
    top: 36px;
}

.attendance-show__row:nth-of-type(1) .attendance-show__label {
    position: absolute;
    width: 35px;
    height: 19px;
    left: 0;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #737373;
}

.attendance-show__row:nth-of-type(1) .attendance-show__value {
    position: absolute;
    width: 72px;
    height: 19px;
    left: 293px;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
}

/* 日付行 */

.attendance-show__row:nth-of-type(2) {
    position: absolute;
    width: 561px;
    height: 19px;
    left: 64px;
    top: 114px;
}

.attendance-show__row:nth-of-type(2) .attendance-show__label {
    position: absolute;
    width: 35px;
    height: 19px;
    left: 0;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #737373;
}

.attendance-show__date-group {
    position: absolute;
    left: 293px;
    top: 0;
}

.attendance-show__year {
    position: absolute;
    width: 68px;
    height: 19px;
    left: 0;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
}

.attendance-show__date {
    position: absolute;
    width: 58px;
    height: 19px;
    left: 210px;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
}

/* 出勤・退勤行 */

.attendance-show__row:nth-of-type(3) {
    position: absolute;
    width: 561px;
    height: 28px;
    left: 64px;
    top: 199px;
}

.attendance-show__row:nth-of-type(3) .attendance-show__label {
    position: absolute;
    width: 90px;
    height: 19px;
    left: 0;
    top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #737373;
}

.attendance-show__time-group {
    position: absolute;
    left: 269px;
    top: 0;
    width: 292px;
    height: 28px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.attendance-show__time-group .attendance-show__time-box:first-child {
    width: 103px;
    height: 28px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    padding: 0;
}

.attendance-show__time-group .attendance-show__time-box:first-child input[type="time"] {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    text-align: center;
    padding: 0;
    outline: none;
}

.attendance-show__separator {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
}

.attendance-show__time-group .attendance-show__time-box:last-child {
    width: 103px;
    height: 28px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.attendance-show__time-group .attendance-show__time-box:last-child input[type="time"] {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    text-align: center;
    padding: 0;
    outline: none;
}

/* 休憩行 */

.attendance-show__row--break {
    position: absolute;
    width: 561px;
    height: 110px;
    left: 64px;
    top: 299px;
}

.attendance-show__row--break .attendance-show__label {
    position: absolute;
    width: 35px;
    height: 19px;
    left: 0;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #737373;
}

.attendance-show__break-group {
    position: absolute;
    left: 293px;
    top: 0;
    width: 268px;
}

.attendance-show__break-row {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
}

.attendance-show__row--break .attendance-show__break-row .attendance-show__time-box:first-child {
    width: 103px;
    height: 29px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.attendance-show__row--break .attendance-show__break-row .attendance-show__time-box:first-child input[type="time"] {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    text-align: center;
    padding: 0;
    outline: none;
}

.attendance-show__row--break .attendance-show__break-row .attendance-show__separator {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
}

.attendance-show__row--break .attendance-show__break-row .attendance-show__time-box:last-child {
    width: 103px;
    height: 29px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.attendance-show__row--break .attendance-show__break-row .attendance-show__time-box:last-child input[type="time"] {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    text-align: center;
    padding: 0;
    outline: none;
}

/* 休憩2行 */

.attendance-show__row--break2 {
    position: absolute;
    width: 47px;
    height: 19px;
    left: 64px;
    top: 390px;
}

.attendance-show__row--break2 .attendance-show__label {
    position: absolute;
    width: 47px;
    height: 19px;
    left: 0;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #737373;
}

.attendance-show__row--break2 .attendance-show__break-group {
    position: absolute;
    left: 293px;
    top: 0;
    width: 268px;
}

.attendance-show__row--break2 .attendance-show__break-row {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
}

.attendance-show__row--break2 .attendance-show__break-row .attendance-show__time-box {
    width: 103px;
    height: 29px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    padding: 0;
}

.attendance-show__row--break2 .attendance-show__break-row .attendance-show__time-box input[type="time"] {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
    text-align: center;
    padding: 0;
    outline: none;
}

.attendance-show__row--break2 .attendance-show__break-row .attendance-show__separator {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #000000;
}

/* 備考行 */

.attendance-show__row--remarks {
    position: absolute;
    width: 35px;
    height: 19px;
    left: 64px;
    top: 489px;
}

.attendance-show__row--remarks .attendance-show__label {
    position: absolute;
    width: 35px;
    height: 19px;
    left: 0;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #737373;
}

.attendance-show__remarks-box {
    box-sizing: border-box;
    position: absolute;
    width: 316px;
    height: 72px;
    left: 333px;
    top: -10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15em;
    color: #000000;
    padding: 0;
    overflow: hidden;
}

.attendance-show__remarks-box input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15em;
    color: #000000;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

/* 区切り線 */

.attendance-show__divider {
    position: absolute;
    width: 900px;
    height: 0px;
    left: 0px;
    border: 2px solid #E1E1E1;
}

.attendance-show__row:nth-of-type(1)+.attendance-show__divider {
    top: 79px;
}

.attendance-show__row:nth-of-type(2)+.attendance-show__divider {
    top: 168px;
}

.attendance-show__row:nth-of-type(3)+.attendance-show__divider {
    top: 259px;
}

.attendance-show__row:nth-of-type(4)+.attendance-show__divider {
    top: 354px;
}

.attendance-show__row:nth-of-type(5)+.attendance-show__divider {
    top: 449px;
}

/* 修正ボタン */

.attendance-show__modify-button {
    position: absolute;
    width: 130px;
    height: 50px;
    left: 769px;
    top: 591px;
    background: #000000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}